@model List<OOP_Ships_Project.Models.DataModel>


@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <style type="text/css">
        .auto-style1 {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 30px;
            width: 30px;
        }

        .btn {
            display: inline-flex;
            justify-content: center; /* center the content horizontally */
            align-items: center; /* center the content vertically */
            --padding-x: 1.2em;
        }
    </style>

</head>
<body>
    <h1 class="display-4" style="position: fixed; top: 50px; left: 420px;"><u>Project OOP Ships</u></h1>
    <h1 class="display-4" style="position: fixed; top: 100px; left: 140px;">Player A</h1>
    <h1 class="display-4" style="position: fixed; top: 100px; left: 840px;">Player B</h1>

    @using (Html.BeginForm("HandleButtonClick", "Button"))
    {
        //for (int i = 0; i < Model.Count; i++)
        //{
        //    if(Model[i].State) { Html.Raw('?'); }
        //    else { Html.Raw('0'); }
        //}
        @*@if (Model. == 1)
            {

            }*@
        <div id="div_Background" style="position: fixed; width: 1200px; height: 1000px; margin-right: 0px;">
            <h1 class="display-4" style="position: fixed; top: 50px; left: 420px;">Project OOP Ships</h1>
            <div id="div_X_Coords_Sector_A" style="width: 300px; height: 30px; position: inherit; top: 170px; left: 50px;">
                <table align="center" width="300" height="30">
                    <tr>
                        @for (int i = 0; i < 10; i++)
                        {
                            <td align="center" width="30">@Convert.ToChar(i + 'A')</td>
                        }
                    </tr>
                </table>
            </div>
            <div id="div_Y_Coords_Sector_A" style="width: 30px; height: 300px; position: inherit; top: 200px; left: 20px;">
                <table align="center" width="30" height="300">
                    @for (int i = 1; i < 11; i++)
                    {
                        <tr><td align="center">@i</td></tr>
                    }
                </table>
            </div>
            <div id="div_Player_A_Sector" style="width: 300px; height: 300px; position: inherit; top: 200px; left: 50px;">
                @*Player A area*@
                @for (int c = 0; c < 10; c++)
                {
                    for (int r = 0; r < 10; r++)
                    {
                        //id="@Convert.ToString("div_A_" + Convert.ToChar(c + 'A') + "_" + r)"
                        //value="ButtonAA_@(r + 1)"
                        <div style=" width: 30px; height: 30px; position: absolute; @Convert.ToString("top: " + r * 30 + "px"); @Convert.ToString("left: " + c * 30 + "px"); text-align: right;">
                            <Button class="btn" value=@(c+r*10) name="pButtons" type="submit" style="position: absolute; top: 0px; left: 0px; height: 30px; width: 30px; background-color: @((Model[c + r * 10].State == 1) ? "Red" : "turquoise");">
                                @if (Model[c + r * 10].State == 0)
                                {
                                    <p>?</p>
                                }
                                else if (Model[c + r * 10].State == 1)
                                {
                                    <img src="~/Images/destroyed_ship.png" width="25" height="25" />
                                }
                                else
                                {
                                    <p>0</p>
                                }
                            </Button>
                        </div>
                    }
                }
            </div>

            <div id="div_X_Coords_Sector_B" style="width: 300px; height: 30px; position: inherit; top: 170px; left: 750px;">
                <table align="center" width="300" height="30">
                    <tr>
                        @for (int i = 0; i < 10; i++)
                        {
                            <td align="center" width="30">@Convert.ToChar(i + 'A')</td>
                        }
                    </tr>
                </table>
            </div>
            <div id="div_Y_Coords_Sector_B" style="width: 30px; height: 300px; position: inherit; top: 200px; left: 720px;">
                <table align="center" width="30" height="300">
                    @for (int i = 1; i < 11; i++)
                    {
                        <tr><td align="center">@i</td></tr>
                    }
                </table>
            </div>
            <div id="div_Player_B_Sector" style="width: 300px; height: 300px; position: inherit; top: 200px; left: 750px;">
                @*Player B area*@
                @for (int c = 0; c < 10; c++)
                {
                    for (int r = 0; r < 10; r++)
                    {
                        //id="@Convert.ToString("div_B_" + Convert.ToChar(c + 'A') + "_" + r)"
                        <div style=" width: 30px; height: 30px; position: absolute; @Convert.ToString("top: " + r * 30 + "px"); @Convert.ToString("left: " + c * 30 + "px"); text-align: right;">
                            <Button class="btn" value=@(c+r*10+100) name="pButtons" type="submit" style="position: absolute; top: 0px; left: 0px; height: 30px; width: 30px; background-color: @((Model[c + r * 10 + 100].State == 1) ? "Red" : "turquoise");">
                                @if (Model[c + r * 10 + 100].State == 0)
                                {
                                    <p>?</p>
                                }
                                else if (Model[c + r * 10 + 100].State == 1)
                                {
                                    <img src="~/Images/destroyed_ship.png" width="25" height="25" />
                                }
                                else
                                {
                                    <p>0</p>
                                }
                            </Button>
                        </div>
                    }
                }


            </div>
        </div>
        if (Model[203].State == 0) // Mark starting player
        {
            <h1 class="display-4" style="position: fixed; top: 500px; left: 90px;">Player A starts!</h1>
        }
        if (Model[203].State == 1) // Mark who's turn it is
        {
            <h1 class="display-4" style="position: fixed; top: 500px; @Convert.ToString("left: " + (130 + Model[202].State*700) + "px");">Your turn!</h1>
        }
        <div style="position: fixed; top: 350px; left: 460px;">
            <h1>Ships Alive</h1>
            <h2 style="position: fixed; top: 400px; left: 505px;">A: @Model[200].State</h2>
            <h2 style="position: fixed; top: 430px; left: 505px;">B: @Model[201].State</h2>
        </div>
    }

    @using (Html.BeginForm("HandleTextInput", "Button"))
    {
        <div id="div_Attack_Sector_A" style="width: 200px; height: 300px; position: inherit; top: 200px; left: 400px;">

            <Label style="position: fixed; top: 180px; left: 425px; height: 20px; width: 100px">X Coordination</Label>
            <input type="text" name="AXcord" style="position: fixed; top: 200px; left: 425px; height: 20px; width: 100px" />

            <Label style="position: fixed; top: 230px; left: 425px; height: 20px; width: 100px">Y Coordination</Label>
            <input type="text" name="AYcord" style="position: fixed; top: 250px; left: 425px; height: 20px; width: 100px" />

            <Button type="submit" style="position: fixed; top: 300px; left: 450px; height: 35px; width: 50px">
                Fire!
            </Button>
        </div>
        <div id="div_Attack_Sector_B" style="width: 200px; height: 300px; position: inherit; top: 200px; left: 550px;">

            <Label style="position: fixed; top: 180px; left: 570px; height: 20px; width: 100px">X Coordination</Label>
            <input type="text" name="BXcord" style="position: fixed; top: 200px; left: 570px; height: 20px; width: 100px" />

            <Label style="position: fixed; top: 230px; left: 570px; height: 20px; width: 100px">Y Coordination</Label>
            <input type="text" name="BYcord" style="position: fixed; top: 250px; left: 570px; height: 20px; width: 100px" />

            <Button type="submit" style="position: fixed; top: 300px; left: 595px; height: 35px; width: 50px">
                Fire!
            </Button>
        </div>
    }

    @if (Model[200].State == 0)
    {
        Model[203].State = 2;
        <script>alert("Congratulations! Player A won! GGs <3");</script>
    }
    @if (Model[201].State == 0)
    {
        Model[203].State = 2;
        <script>alert("Congratulations! Player B won! GGs <3");</script>
    }

<footer>
    <p>Author: Hege Refsnes</p>
    <p><a href="https://github.com/xkzch01/OOP_Lode">GitHub</a></p>
</footer>
</body>
</html>
